@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}

a {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: skyblue;
    font-weight: 700;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.6;
}

img {
    vertical-align: bottom;
}

header {
    width: 984px;
    margin: 0 auto;
}

header h1 {
    margin: 5px 0 10px;
}

#title {
    width: 984px;
    font-size: 40px;
    border-left: solid 3px #00bfff;
    padding: 4px 9px 4px 14px;
    margin: 0 auto;
}


#main_visual {
    /*background-image: url(main.large.jpg);
    color: white;
    margin-top: 30px;*/
    width: 984px;
    height: 540px;
    margin: 0 auto;
}

#wrapper {
    width: 984px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#message {
    width: 984px;
    margin: 0 auto;
}

#message h2 {
    background-color: #e6e6fa;
    color: #191970;
    font-size: 30px;
    padding: 8px 22px;
    border-radius: 3px;
    border: 1px solid #e6e6fa;
}

#message h3 {
    font-size: 20px;
    border-left: solid 3px #00bfff;
    padding: 4px 9px 4px 14px;
}

#lesson {
    width: 984px;
    margin: 0 auto;
}

#lesson h2 {
    font-size: 20px;
    border-left: solid 3px #ff7f50;
    padding: 4px 9px 4px 14px;
}

#lesson h3 {
    background-color: #f0f8ff;
    color: #191970;
    font-size: 20px;
    padding: 8px 22px;
    border-radius: 3px;
    border: 1px solid #f0f8ff;
}

#lesson li {
    text-decoration: none
}

#sns_qr {
    display: flex;
}
    

footer #footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    background-color: #fff;
    text-align: center;
}

footer #footer_navi {
    background-color: #fff;
    padding: 10px 0;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_navi li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
    display: block;
    padding: 8px 0;
    color: black;
}



/*お問い合わせフォーム*/
#contact{
    width: 984px;
    margin: 0 auto 25px;
}

#contact h2 {
    font-size: 20px;
}

